---
import members from '@/members.json';
import ExternalLink from '@/components/graphics/ExternalLink.svg';
---

<>
	<div class="member-list">
		{
			members.map((e) => (
				<a href={`https://${e.website}/`} class="member-container">
					<div style="display: flex; flex-direction: row; align-items: start; gap: 0.5rem">
						<img
							src="/favicon.png"
							style="width: 32px; height: 32px; image-rendering: pixelated;"
						/>
						<div>
							<div style="display: flex; flex-direction: row; align-items: center; gap: 0.5rem">
								<p class="name">{e.name}</p>
								<ExternalLink
									width={'1.5ch'}
									height={'1.5ch'}
									style="color: var(--accent)"
								/>
							</div>
							<p style="color: var(--secondary-light)">
								{e.website}
							</p>
							<p>
								{e.branch + ' '} {e.campus + ' '} {e.batch}
							</p>
							<p>{e.bio}</p>
						</div>
					</div>
				</a>
			))
		}
	</div>
</>

<style>
	.member-list {
		--x-padding: 0.75rem;

		display: grid;
		grid-template-columns: auto auto auto;
		justify-content: space-between;
		margin: 0 calc(var(--x-padding) * -1);
		line-height: 1.5;
		text-decoration: none;
	}

	.member-container {
		padding: 0.75rem var(--x-padding);
		border-radius: 0.2rem;
		color: var(--text);
		text-decoration: none;
		& * {
			margin: 0;
		}
	}

	.member-container:hover {
		background-color: var(--tertiary);
		outline: 1px solid var(--secondary);
		& .name {
			text-decoration: underline;
		}
	}

	.member-container:last-child {
		border-bottom: none;
	}

	.name {
		font-weight: 600;
		text-decoration: none;
		color: var(--accent);
	}
</style>
