---
import members from '@/members.json';
import faviconManifest from '@/favicon-manifest.json';
import ExternalLink from '@/components/graphics/ExternalLink.svg';

const getFaviconSrc = (website: string) => {
	return faviconManifest[website] || '/favicon.png';
};
---

<>
	<div class="member-list">
		{
			members.slice(1).map((e) => (
				<a href={`https://${e.website}/`} class="member-container">
					<div class="icon-container">
						<img
							src={getFaviconSrc(e.website)}
							onerror="this.onerror=null; this.src='/favicon.png';"
							alt={`${e.name} favicon`}
							class="favicon"
						/>
					</div>
					<div>
						<div style="display: flex; flex-direction: row; align-items: center; gap: 0.5rem">
							<p class="name">{e.name}</p>
							<ExternalLink
								width={'1.5ch'}
								height={'1.5ch'}
								style="color: var(--accent)"
							/>
						</div>
						<p style="color: var(--secondary-light)">
							{e.website}
						</p>
						<p>{[e.branch, e.campus, e.batch].join(' ')}</p>
					</div>
				</a>
			))
		}
	</div>
</>

<style>
	.member-list {
		--x-padding: 0.75rem;
		margin: 0 calc(var(--x-padding) * -1);
		line-height: 1.5;
		
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
		justify-content: space-between;
	}

	.member-container {
		padding: 0.75rem var(--x-padding);
		border-radius: 0.2rem;
		color: var(--text);
		text-decoration: none;
		display: flex; 
		gap: 0.5rem;
		& p {
			margin: 0;
		}
	}

	.member-container:hover {
		background-color: var(--tertiary);
		outline: 1px solid var(--secondary);
		& .name {
			text-decoration: underline;
		}
	}

	.name {
		font-weight: 600;
		color: var(--accent);
	}

	.icon-container {
		width: 32px;
		height: 32px;
		background-color: var(--tertiary);
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.favicon {
		width: 16px;
		height: 16px;
		image-rendering: pixelated;
	}
</style>
